/* entire background*/
body{
	font-family: Georgia, "Times New Roman",Times, serif;
	background-color: rgb(3,53,52);
	color: white;
	max-width: 100%;
    overflow-x: hidden;
}

/* creates logo*/
.img-circle{
	float: left;
	border-radius: 50%;
	border: 2px solid black;
	background: white;
	height: 100px;
	width: 100px;
}

/* creates the spacing needed for the logo and title*/
.main{
	padding-bottom: 2.5em;
	height: 8em;
	padding-top: 1em;
	padding-left:0.5em;
}

/* creates green background: behind tabs, log and title*/
.backg{
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 11em;
}

/* eliminates the button style from when the tabs are created*/
.link{
	background: none;
	border:none;	
	color: black;
}

/* creates the title: font, color,size*/
.main h2{
	margin: 0 0 0 0;
	position: relative;
	font-family: "Merienda One";
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 45px;
	top: 0.5em;
	left: 1em;
	color: Black;
}

/* fills in the tabs, to make visible*/
.tablinks{
	background: white;
	color: Black;
}

.visualData{
	background: white;
	color: Black;
}

/* map styling */
.mapstyle{
	padding-left: 3em;
}
.markerText{
	color: black;
}

.weather_input{
	margin: 0.3em 0 0 0;
	padding-bottom: 1em;
}
.submitText{
	color: Black;
	position: relative;
	color: Black;
	
}

.showMap{
	position: relative;

}
.flightStatus{
/*float: left;*/
}

.location{
	margin-top: 1em;
	color: White;	
}

/* styles the drone tabs*/
.dropdown-toggle{
	background: white;
	 color: Black;
}

.refresh{
	color:black;
}

/* styles the table to display data*/
table.db-table {
	border-right:1px solid #ccc; border-bottom:1px solid #ccc; 
}
table.db-table th{
	background:#eee; padding:5px; border-left:1px solid #ccc; border-top:1px solid #ccc; 
}	
table.db-table td{ 
	padding:5px; border-left:1px solid #ccc; border-top:1px solid #ccc; 
}

/* weather GUI */
.WeatherGUI { 
	*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;    
}
.WeatherInfo tr:first-child td:last-child {
	padding-left: 2em;
}
.WeatherInfo tr:first-child td:first-child {
	padding-left: 2em;
}

.WeatherGUI td, .WeatherGUI th {
    border-left: 1px solid #ccc;

    text-align: center;    
}

.WeatherGUI th {
	padding: 10px;
	padding-left: 10px;
	color: white;
    background-color: #708090;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#708090), to(#00284d));
    background-image: -webkit-linear-gradient(top, #708090, #00284d);
    background-image:    -moz-linear-gradient(top, #708090, #00284d);
    background-image:     -ms-linear-gradient(top, #708090, #00284d);
    background-image:      -o-linear-gradient(top, #708090, #00284d);
    background-image:         linear-gradient(top, #708090, #00284d);
	border-bottom: 1px solid #ccc;
}

.WeatherGUI td{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	/*background-color: #001a33;*/
	background-color: white;
	color: black;
}

.WeatherGUI td:first-child, .WeatherGUI th:first-child {
    border-left: none;
}

.WeatherGUI th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.WeatherGUI th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.WeatherGUI th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.WeatherGUI tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.WeatherGUI tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

fieldset { 
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 2em;
    padding-right: 0.75em;
    border: 2px groove;
	width: auto;
}

form{
	margin-bottom: 1em;
	display: block;
    margin-top: 1em;
	width: 40em;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
	color: white;
	width: auto;
	margin-bottom: 0.2em;
	margin-right: 6em;
}


.line {
      fill: none;
      stroke: #000;
      stroke-width: 1.5px;
	  color: red;
}
